@media (max-width: 800px) {
    #landingPage>img {
        width: 300px;
    }
    .gameInfo {
        width: 100%;
    }
    .tools h1 {
        font-size: 2rem;
    }
    .gameLayout {
        width: 100%;
    }
    .toolbarBox {
        width: 40px;
        height: 40px;
    }
    /* .toolRow {
        margin-top: 1rem;
    }

    .toolRow span {
        align-self: center;
        font-size: 1rem;

    } */
}

@media (min-width:801px) and (max-width: 1200px) {
    #landingPage>img {
        width: 500px;
    }
}